@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Quattrocento Sans';
		src:
			local('Quattrocento Sans'), local('Quattrocento-Sans'), local('quattrocento sans'),
			local('quattrocento-sans'), url('/fonts/quattrocento_sans/QuattrocentoSans-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Quattrocento Sans';
		src:
			local('Quattrocento Sans'), local('Quattrocento-Sans'), local('quattrocento sans'),
			local('quattrocento-sans'), url('/fonts/quattrocento_sans/QuattrocentoSans-Bold.ttf');
		font-weight: bold;
		font-display: swap;
	}
}
